<div class="mat-elevation-z8">

    <div *ngIf="loading" class="loading-indicator">
        <mat-spinner></mat-spinner>
    </div>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let course">{{course.id}}</td>
           
        </ng-container>
        <!-- courseId Column -->
        <ng-container matColumnDef="courseId">
            <th mat-header-cell *matHeaderCellDef>Course ID</th>
            <td mat-cell *matCellDef="let course">{{course.courseId}}</td>
           
        </ng-container>
        <!-- Course Name Column -->
        <ng-container matColumnDef="courseName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Name</th>
            <td mat-cell *matCellDef="let course">{{course.courseName}}</td>
           
        </ng-container>
        <!-- Content Column -->
        <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Content</th>
            <td mat-cell *matCellDef="let course">{{course.content}}</td>
           
        </ng-container>
        <!-- Lecturer Column -->
        <ng-container matColumnDef="lecturer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lecturer</th>
            <td mat-cell *matCellDef="let course">{{course.lecturer?.name}} {{course.lecturer?.surname}}</td>
           
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       
    </table>

    <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[10, 20, 30, 40, 50]">
    </mat-paginator>
</div>