<mat-toolbar>
    <mat-toolbar-row>
        <span>Add new course</span>
    </mat-toolbar-row>
</mat-toolbar>
<div>
</div>
<form style="margin-left: 1em" [formGroup]="form" (submit)="submit()">
    <mat-form-field class="full-width">
        <input matInput placeholder="Course Id" formControlName="courseId" required #spy>
        <mat-error *ngFor="let validation of validation_messages.courseId">
            <mat-error class="error-message" *ngIf="form.get('courseId').hasError(validation.type) 
                    && (form.get('courseId').dirty || form.get('courseId').touched)">
                {{validation.message}}
            </mat-error>
        </mat-error>
    </mat-form-field>
    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Course Name" formControlName="courseName" required>
                    <mat-error *ngFor="let validation of validation_messages.courseName">
                        <mat-error class="error-message" *ngIf="form.get('courseName').hasError(validation.type) 
                                && (form.get('courseName').dirty || form.get('courseName').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="content" formControlName="content" required>
                    <mat-error *ngFor="let validation of validation_messages.content">
                        <mat-error class="error-message" *ngIf="form.get('content').hasError(validation.type) 
                                && (form.get('content').dirty || form.get('content').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </td>

        </tr>
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Lecturer's name" formControlName="lecturerName" required>
                    <mat-error *ngFor="let validation of validation_messages.lecturerName">
                        <mat-error class="error-message" *ngIf="form.get('lecturerName').hasError(validation.type) 
                                            && (form.get('lecturerName').dirty || form.get('lecturerName').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Lecturer's surname" formControlName="lecturerSurname" required>
                    <mat-error *ngFor="let validation of validation_messages.lecturerSurname">
                        <mat-error class="error-message"
                            *ngIf="form.get('lecturerSurname').hasError(validation.type) 
                                                && (form.get('lecturerSurname').dirty || form.get('lecturerSurname').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </td>
        </tr>

    </table>
   
        <div class="center">
            <button mat-raised-button color="primary" (click)= "submit()" type="button" [disabled]="!form.valid">Add</button>
        </div>
   


</form>