<p>Course ID: {{course?.courseId}}</p>
<p>Course Content: {{course?.content}}</p>
<p>Course Lecturer: {{course?.lecturer.name}} {{course?.lecturer.surname}}</p>
<p>Enrolled Students:</p>
<div *ngFor="let s of course?.students">
    <li>
        <p>Student ID: {{s.studentId}} </p>
        <p>Student Name: {{s.name}}</p>
        <p> Student Surname: {{s.surname}}</p>
    </li>
</div>